.page-top-section {
    height: 85px;
    width: 100%;
    background: #fcdf8e;
    display: inline-block;
    position: relative;
    clear: both;
}

.serach-img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    float: right;
}

.div-quick-menu {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
